fastapi>=0.109,<0.110
uvicorn[standard]>=0.26,<0.27
python-multipart>=0.0.6,<0.0.7
pydantic>=2,<3
python-dotenv>=1.0
click>=8.1,<9
pydub>=0.25,<1
soundfile>=0.12,<1
librosa>=0.10,<0.11
numpy>=1.24,<1.27
scipy>=1.10,<1.12
praat-parselmouth>=0.4.3,<1
pyworld>=0.3.4,<1
torch>=2.1,<3
torchaudio
torchcrepe>=0.0.22,<1
av>=15,<19
faiss-cpu>=1.7.4,<2
tensorboardx>=2.6,<3
poethepoet>=0.24,<1
numba==0.58.1
git+https://github.com/Tps-F/fairseq.git@ff08af27e302625a27d3502b0791a9367c8af0c7
